<div class="center hero-unit">
  <h1>Welcome to Sample Chat</h1>

  <h2>
    This is the home page for the Simple Chat website. <br/> To continue, please sign in.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>