<% provide(:title, 'Help') %>

<h1>Help</h1>
<div class="well narrow">
  <ol>
    <li>Sign up</li>
    <li>Sign in</li>
    <li>Enter chat room</li>
    <li>Chat</li>
    <li>???</li>
    <li>Profit</li>
  </ol>
</div>