<div class="center jumbotron">
  <h1>Welcome to Simple Chat</h1>
  <h2>Join or create your own chat room.</h2>
  <h2>Simply sign in and start chatting!</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>