<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Import stylesheets. -->
  <!-- <link type="text/css" rel="stylesheet" href="normalize.css"/> -->
  <!-- /Import stylesheets. -->

  <title>About Us</title>
</head>
<body>
	<header><h1>Simple Chat</h1></header>

	<article>
    <h1>Say#hello</h1>
    <p>Find me in app/views/home/about.html.erb</p>
  </article>

  <footer>Copyright 2014</footer>
</body>
</html>