<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Import stylesheets. -->
  <!-- <link type="text/css" rel="stylesheet" href="normalize.css"/> -->
  <!-- /Import stylesheets. -->

  <title>Simple Chat</title>
</head>
<body>
  <header><h1>Simple Chat</h1></header>
  
  <nav>
    <%= link_to "About Us", :action => "about"%>
  </nav>

  <article>
    <section>
      <h1>Login</h1>
      <h1>Register</h1>
    </section>
    <section>
      <h1>Say#hello</h1>
      <p>Find me in app/views/say/hello.html.erb</p>
      <p><%= @var %></p>
    </section>
  </article>

  <footer>Copyright 2014</footer>
</body>
</html>