<header><h1>Simple Chat</h1></header>

<nav>
  <ul>
    <li><%= link_to "About Us", :action => "about" %></li>
    <li><%= link_to "Demos", :controller => 'say', :action => "hello" %></li>
  </ul>
</nav>

<article>
  <section>
    <h1>Login</h1>
    <h1>Register</h1>
  </section>
  <section>
    <h1>Say#hello</h1>
    <p>Find me in app/views/say/hello.html.erb</p>
    <p><%= @var %></p>
  </section>
</article>

<footer>Copyright 2014</footer>