<!DOCTYPE HTML>
<html lang="en">
<head>
  <!-- Import stylesheets. -->
  <link type="text/css" rel="stylesheet" href="normalize.css"/>
  <!-- /Import stylesheets. -->

</head>
<body>
    <h1>Say#hello</h1>
    <p>Find me in app/views/say/hello.html.erb</p>
    <p><%= @var %></p>
</body>
</html>