<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<div class="well narrow">
  <p>
	Simple Chat is a simple real time web chat application built with Ruby and Rails. This project is a submission for the UWA 2014 CITS3403 Project (Stage II).
  </p>
  <p>
	Go to the <%= link_to "contact", contact_path %> page for the developer's contact details.
  </p>
</div>