<% provide(:title, 'Contact') %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Contact</h1>
    <dl class="well" style="text-align:center">
      <dt>Tim Lander</dt><dd>20355777@student.uwa.edu.au</dd>
      <dt>Benjamin Huang</dt><dd>21107471@student.uwa.edu.au</dd>
      <dt>Arun Gimblett</dt><dd>21136295@student.uwa.edu.au</dd>
    </dl>
  </div>
  <div class="col-md-4"></div>
</div>