<% provide(:title, @user.name) %>

<div class="center jumbotron">
  <h1>Welcome <%= @user.name %></h1>
  
  <%= link_to "Click here to start a new room", create_path, class: "btn btn-lg btn-primary" %>

</div>